:root {
    --main-bg-color:  #AAAAAA;
    --second-bg-color:  #333333;
    --third-bg-color: #AAAAAA;
    --form-bg-color: #293E6A;
    --main-form-text-color: #333333;
    --main-text-color: #FFFFFF;
    --second-text-color: #AAAAAA;
    --main-bg-gradient: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
}

* {
    box-sizing: border-box;
}
  

body {
    background-color: var(--main-bg-color);
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

/*
************************************************
*                    LAYOUT
************************************************
*/

header {
    background-color: var(--second-bg-color);

    text-align: center;
    padding: 0px;
    font-size: 30px;
    color: var(--main-text-color);
    
}

header .column, header .sideColumn {
    padding: 1px;
}

nav {
    overflow: hidden;
    /* background-color: var(--third-bg-color); */
}

nav a {
    float: right;
    font-size: 20px;
    display: block;
    color: var(--main-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--second-bg-color);
    color: white;
    text-align: center;
    border-top: 2px solid var(--main-text-color);
}

#logo {
    color: var(--second-text-color);
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
}

/* .column {
    float: left;
    width: 33.33%;
    padding: 15px;
} */

.column {
    float: left;
    width: 50%;
    padding: 15px;
}

.sideColumn {
    float: left;
    width: 25%;
    padding: 15px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}


/*
************************************************
*                    LOGIN
************************************************
*/

#loginArea {
    margin: 0 auto;
    width: 60%;
    background-color: var(--second-bg-color);
    text-align: center;
    border: 4px solid var(--main-text-color);
    -webkit-box-shadow: -1px 5px 12px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 5px 12px 1px rgba(0,0,0,0.75);
box-shadow: -1px 5px 12px 1px rgba(0,0,0,0.75);
}

.authForm {
    color: var(--main-text-color);
}


.authForm input {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid var(--main-text-color);
    background-color: transparent;
    width: 50%;
    color: var(--main-text-color);
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
}

#loginForm input[type="checkbox"] {
   width: auto;
}

.authForm input[type="submit"] {
    font-size: 30px;
    margin-bottom: 20px;
    background-color: var(--second-bg-color);
    border: 3px solid var(--main-text-color);
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    color: var(--main-text-color);
    outline: none;
}

.authForm input::placeholder {
    color: var(--main-text-color);
    opacity: 1;
}

.loginTitle {
    font-size: 60px;
    margin: 0px;
    padding-top: 15px;
    color: var(--main-text-color);
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
}

/*
************************************************
*                    TODO
************************************************
*/

.todoNavBar {
    margin: 0;
    padding: 0;

    width: 100%;

    background-color: var(--main-text-color);
}

.todoNavBar a {
    padding: 20px;
}

.todo {
    background-color: white;
    padding: 25px;
    width: 100%;
}

.todoTitle {
    font-size: 40px;
}



/* TODO LIST */

.todoList {
    background-color: #cbc7c7;
    text-align: center;
}

.todoListItem {
    background-color: var(--main-text-color);
    margin: 15px;
    padding: 15px;
    text-align: left;
}